[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-yasg = "*"
pyjwt = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
